/* import font-family */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
body {
    margin: 0px;
    padding: 0px;
}
/* banner section */
.shape {
    width: 692px;
    height: 554px;
    margin: 143px  20px 30px 30px;

}
.banner-img {
    width: 750px;
    height: 688px;
    position: absolute;
    z-index: 1;
    left: 640px;
    top: -179px;
    margin: 143px  150px 30px 30px;

}
/* * {
    border: 2px solid red;
} */

.banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-describe {
    margin-left: 100px;
}
.banner-title {
    font-family: Montserrat;
    width: 590px;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 40px;
}
.banner-title span {
    color: rgb(251, 162, 79);
}
.banner-description {
    color: rgb(130, 130, 130);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    width: 499px;
    margin-top: 0px;
    margin-bottom: 49px;
}
.banner-btn {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    padding: 24px 32px 24px 32px;
    border-radius: 100px;
    box-shadow: 0px 2px 30px 0px rgba(252, 143, 73, 0.5);
    background: linear-gradient(69.40deg, rgb(251, 162, 79) -6.919%,rgb(255, 30, 30) 144.985%);
    border: none;
    text-align: center;
    cursor: pointer;
}
.banner-btn:hover {
    box-shadow: 0px 2px 30px 0px rgba(252, 143, 73, 0.5);
    background: linear-gradient(69.40deg, rgb(79, 251, 111) -6.919%,rgb(255, 30, 30) 144.985%);
}

/* about me section */
.about-img {
    width: 338px;
    height: 536px;
    margin: 64px 198px 0px 199px;
}
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(images/shapes/7.png);
    background-position: center;
    margin-top: 30px;
}
.about-title {
    color: rgb(112, 112, 112);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    margin: 60px 213px 32px 0px;
}
.about-description {
    color: rgb(24, 25, 31);
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;
    width: 444px;
    margin: 0px 213px 80px 0px;
}
.about-btn {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    padding: 24px 32px 24px 32px;
    border-radius: 100px;
    box-shadow: 0px 2px 30px 0px rgba(252, 143, 73, 0.5);
    background: linear-gradient(69.40deg, rgb(251, 162, 79) -6.919%,rgb(255, 30, 30) 144.985%);
    width: 192px;
    border: none;
    cursor: pointer;
    margin-bottom: 30px
    }
    .about-btn:hover {
        box-shadow: 0px 2px 30px 0px rgba(252, 143, 73, 0.5);
        background: linear-gradient(69.40deg, rgb(79, 251, 111) -6.919%,rgb(255, 30, 30) 144.985%);
    }

/* my recipies section */
.recipies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 72px 0px 30px 0px;
}
.recipies-content {
    display: flex;
}
.recipie-img {
    width: 550px;
    height: 308px;
}
.recipies-title {
    color: rgb(103, 103, 103);
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
}
.recipies-description {
    color: rgb(37, 37, 37);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    width: 706px;
    margin-bottom: 38px;
}
.recipie {
    border-radius: 30px;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    width: 610px;
    height: 542px;
    margin: 0px 30px 100px 0px;
}
.recipie-img {
    margin: 30px 30px 30px 30px;
    border-radius: 20px;
}
.recipie-title {
    margin: 0px 197px 10px 30px;
    color: rgb(24, 25, 31);
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 800;
    text-align: left;
}
.recipie-description {
    margin: 0px 46px 50px 30px;
    color: rgb(24, 25, 31);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    width: 534px;
}

/* social section start */
.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
    width: 800px;
    height: 26px;
    padding: 64px 165px 64px 165px;
    margin: 0px 100px 90px 167px;
    gap: 150px;
}
.social-title {
    color: rgb(24, 25, 31);
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    margin: 0px;
}
.social-description {
    color: rgb(24, 25, 31);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    width: 202px;
}





/* responsive design for small devices */
@media screen and (max-width:576px) {
    .banner-content {
        flex-direction: column;
    }
    .banner-title {
        font-size: 30px;
        width: 275px;
        margin: 150px 0px 20px 0px;
    }
    .banner-description {
        font-size: 14px;
        width: 277px;
        margin-bottom: 30px;
    }
    .shape {
        width: 308px;
        height: 296px;

    }
    .banner-img {
        width: 355px;
        height: 356px;
        position: absolute;
        z-index: 1;
        left: 0px;
        top: 397px;
        
    
    }
    .banner-describe {
        margin-left: 0px;
    }
    .about-img {
        width: 268px;
        height: 300px;
        margin: 64px 0px 0px 0px;
    }
    .about {
        flex-direction: column;
    }
    .about-title {
        font-size: 30px;
        margin: 60px 0px 32px 75px;
        width: 200px;
        text-align: center;
        align-items: center;
    }
    .about-description {
        margin: 20px 0px 32px 0px;
        width: 350px;
        text-align: justify;
        font-size: 14px;
    }
    .recipies-content {
        flex-direction: column;
    }
    .recipies-title {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .recipies-description {
        font-size: 14px;
        width: 350px;
        text-align: justify;
    }
    .recipie {
        width: 320px;
        height: 315px;
    }
    .recipie-img {
        width: 275px;
        height: 154px;
        margin: 21px;
    }
    .recipie-title {
        font-size: 20px;
        width: 200px;
        margin: 0px 0px 10px 16px;
    }
    .recipie-description {
        font-size: 12px;
        width: 290px;
        margin: 0px 0px 10px 16px;
        text-align: justify;
    }
    .social-container {
        flex-direction: column;
        width: 40px;
        height: 500px;
        padding: 10px 65px 10px 65px;
        margin: 50px auto;
        gap: 50px;
    }
    .social-title {
        font-size: 30px;
        color: red;
    }
    .social-description {
        width: 100px;
        font-size: 14px;
        text-align: center;
    }
}